<h1>Проверка отсылки уведомления {{ email.toName }}!</h1>

<p>
    Проверка прошла удачно. Письмо доставлено.
</p>

    {% for project in projects %}
<p>
        Project id: {{ project.id }}<br>
        Project name: {{ project.name }}<br>
        Project stage: {{ project.stage }}<br>
        Project description: {{ project.description }}<br>
</p>
    {% else %}
<p>
        No users have been found.
</p>
    {% endfor %}




